body * {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  background-color: rgb(195, 195, 195);
  text-align: center;
  max-width: 600px;
  min-width: 400px;
  border: 3px solid black;
  margin-top: 5%;
}

.display {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #858693;
  color: white;
}

.key-0 {
  grid-column: span 2;
}

.key {
  cursor: pointer;
  padding: 20px;
}

.key:hover {
  opacity: 0.8;
}

.string {
  background-color: #f39148;
}

.number {
  background-color: rgb(224, 224, 224);
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  width: 30%;
}
